body {
    background: rgb(215,141,219);
    background: linear-gradient(30deg, rgba(215,141,219,1) 0%, rgba(78,166,207,1) 25%, rgba(48,172,176,1) 51%, rgba(148,236,208,1) 81%, rgba(228,238,177,1) 100%); 
}

* {
    margin: 0;
    padding: 0;
}

.backGround {
    /* color: rgba(0, 0, 0, 0.87); */
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    background-color: 'inherit';
}